#heading{
	margin: 3em 1em 3em 1em;
	text-align: center;
	background: lightgreen;

}

th{
	font-weight: bold;
}

h4 {
	color: white;
	background: #337ab7; 
}

.container-fluid{
	margin-bottom: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #337ab7;
}

#wtf{
	color:white;
}